



.viewContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; // Ermöglicht das Schließen der Lightbox durch Klicken
}

.viewContainer img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
