@import '../../commonStyles.module.scss'; // Importiere die Stile aus commonStyles


.pageContainer {
  display: flex;
  flex-direction: column;
  overflow: auto; /* Stelle sicher, dass nur diese Komponente scrollbar ist */
}



.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




